{% extends './baza.html' %}
{% load static %}

{% block title %}Despre Noi{% endblock %}

{% block content %}
    <h1>Fotografia lunii</h1>
    <img src="{% static 'Magazin_de_muzica/imagini/Spooky.jpg' %}" 
    alt="imagine" 
    style="width: 200px; height: auto;" />

    <h1>Despre Pasiunea Noastră pentru Muzică</h1>
    <p>
        Mai mult decât un magazin, suntem o comunitate de iubitori de muzică. Am fost înființați din dorința de a oferi
        colecționarilor și muzicienilor acces la cele mai populare și rare înregistrări. Credem în puterea
        sunetului de calitate.
    </p>

    <section id="istoric">
        <h2>Scurt Istoric</h2>
        <p>
            Magazinul a fost înființat din pasiunea pentru muzică și dorința de a crea un spațiu unde
            colecționarii, dar și amatorii să găsească comori muzicale. De-a lungul anilor, am crescut
            și ne-am adaptat la schimbările din industrie, dar am rămas fideli misiunii noastre inițiale:
            de a oferi muzică de calitate și servicii excelente clienților noștri.
        </p>
    </section>

    <section id="echipa">
        <h2>Cine Suntem</h2>
        <p>
            Echipa noastră este formată din pasionați de muzică, fiecare aducând o experiență unică
            în domeniu. Suntem dedicați să oferim clienților noștri cele mai bune servicii și produse.
            Fiecare membru al echipei împărtășește aceeași pasiune pentru muzică și angajamentul de a
            oferi o experiență de cumpărături excepțională.
        </p>
    </section>

{% endblock %}