{% extends "./baza.html" %}
{% load static %}


{% block content %}
<div class="produs-detail">
    <h1>{{ produs.denumire }}</h1>
    {% if produs.imagine %}
    
    <img src="{{ produs.imagine.url }}" alt="{{ produs.denumire }}" style="width:400px; height:auto;">
{% else %}
    <img src="{% static 'imagini/default.jpg' %}" alt="Imagine lipsă">
{% endif %}


    <p><strong>Preț:</strong> {{ produs.pret }} RON</p>
    <p><strong>Stoc disponibil:</strong> {{ produs.stoc }}</p>
    <p><strong>Artist:</strong> {{ produs_artist.artist }}</p>
    <p><strong>Categorie:</strong> {{ produs.categorie }}</p>

    {% if campanii.campanii %}
    <p><strong>Campanii:</strong></p>
    <ul>
        {% for c in campanii %}
            <li>{{ c.campanii }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p><strong>Campanie:</strong> Nu există campanii active pentru acest produs.</p>
{% endif %}
    <p><strong>Descriere:</strong> {{ produs_artist.descriere }}</p>
    <p><strong>Data adăugării:</strong> {{ produs.data_adaugare }}</p>
    

    <a href="{% url 'lista_produse' %}" class="btn">Înapoi la produse</a>
</div>

<style>
.produs-detail {
    text-align: center;
    margin-top: 30px;
}
.produs-detail img {
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: purple;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}
.btn:hover {
    background-color: darkviolet;
}
</style>
{% endblock %}
